@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*font-family: 'Bebas Neue', cursive;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}

body.light {
    background: #fff;
}

.malam {
    position: absolute;
    top: 20px;
    left: 5%;
    font-size: 70px;
    letter-spacing: 5px;
    color: #000;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff;
	animation: malam 3s ease-in-out infinite alternate;
}
@keyframes malam {
    0%{
        transform: translateY(-20%);
        color: #fff;
        text-shadow: 0 0 20px #f0f;
    }
    100%{
        transform: translateY(10%);
        color: #000;
        text-shadow: 0 0 10px #fff;
    }
}

.siang {
    position: absolute;
    top: 20px;
    left: 5%;
    font-size: 70px;
    letter-spacing: 5px;
    color: #fff;
	text-shadow: 0 0 10px #000, 0 0 20px #000;
	display: none;
	animation: siang 3s ease-in-out infinite alternate;
}
@keyframes siang {
    0%{
        transform: translateY(-20%);
        color: #000;
        text-shadow: 0 0 10px #f0f;
    }
    100%{
        transform: translateY(10%);
        color: #fff;
        text-shadow: 0 0 10px #000, 0 0 20px #000;
    }
}


body.light .malam {
    display: none;
}

body.light .siang {
    display: block;
}

.container {
    position: relative;
    min-width: 300px;
    min-height: 400px;
    background: #333;
    padding: 40px 30px 30px;
    border-radius: 20px;
    box-shadow: 25px 25px 75px #000, 10px 10px 70px #000;
}

body.light .container {
    background: #999;
    box-shadow: 25px 25px 75px #000, 10px 10px 70px #000;
}

.kalkulator {
    position: relative;
    display: grid;
}

.kalkulator .value {
    position: relative;
    grid-column: span 4;
    height: 100px;
    width: 100%;
    border: none;
    outline: none;
    background: #999;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px #000;
    text-align: right;
    padding: 10px;
    font-size: 2em;
}

body.light .kalkulator .value {
    background: #333;
    color: #fff;
}

.kalkulator span {
    position: relative;
    display: grid;
    place-items: center;
    width: 80px;
    height: 80px;
    margin: 8px;
    background: linear-gradient(#2f2f2f, #4f4f4f);
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 10px 15px #000;
    color: #fff;
    user-select: none;
    cursor: pointer;
    font-weight: 400;
}

.kalkulator span::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 4px;
    bottom: 10px;
    right: 8px;
    background: linear-gradient(92deg, #2d2d2d, #4d4d4d);
    border-radius: 10px;
    border-left: 1px solid #fff2;
    border-top: 1px solid #fff2;
    border-bottom: 1px solid #fff2;
}

.kalkulator span:active {
    filter: brightness(1.5);
}

.kalkulator span i {
    position: relative;
    font-style: normal;
    font-size: 1.5em;
    text-transform: uppercase;
}

.kalkulator .reset {
    grid-column: span 2;
    width: 170px;
    background: #f00;
}

.kalkulator .reset::before {
    background: linear-gradient(90deg, #d20000, #ffffff5c);
    border-left: 1px solid #fff2;
    border-top: 1px solid #fff2;
    border-bottom: 1px solid #fff2;
}

.kalkulator .tambah {
    grid-row: span 2;
    height: 170px;
}

.kalkulator .smdgn {
    background: #2196f3;
}

.kalkulator .smdgn::before {
    background: linear-gradient(90deg, #2196f3, #ffffff5c);
    border-left: 1px solid #fff2;
    border-top: 1px solid #fff2;
    border-bottom: 1px solid #fff2;
}

.btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: #333;
    font-size: 1.5em;
    box-shadow: 5px 5px 15px #000, 5px 5px 30px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

body.light .btn {
    background: #fafafa;
    box-shadow: 5px 5px 15px #000, 5px 5px 30px #000;
}

.btn .matahari {
    display: none;
}

.btn .bulan {
    display: block;
}

body.light .btn .matahari {
    display: block;
}

body.light .btn .bulan {
    display: none;
}

pre {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-size: 20px;
}

body.light pre {
    color: #000;
}